$red-gradient: linear-gradient(90deg, #EE2424 0%, #B40000 100%);
$red: #FF4242;
$radial-dark-gradient: radial-gradient(50% 206.84% at 50% 50%, #2B2B2B 0%, #121212 100%);
$silver-gradient: linear-gradient(180deg, rgba(25, 25, 25, 0) 22.46%, #737373 100%);
$black: #191919;
$white: #FFFFFF;
$transparent-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(153, 153, 153, 0.05) 100%);
$dark-gray: #7D7D7D;
$darker-gray: #292929;
$border-dark: #5A5A5A;
$border-red: linear-gradient(180deg, rgba(225, 46, 46, 0.5) -11.68%, rgba(255, 255, 255, 0.1) 153.78%);
$dark-gradient: linear-gradient(180deg, #161616 0%, #2B2B2B 126.46%);
$footer-gradient: linear-gradient(180deg, hsla(0, 100%, 63%, 1) 0%, hsla(0, 0%, 7%, 1) 100%);
$light-gray: #FFFFFF1A;